# Various Altium files
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.PrjMbdStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.html
*.$$$
Status Report.Txt

#useless dirs
Project\ Outputs
Project\ Logs
Project\ Docs
Project Outputs for*
History

Altium_Templates/~$Ajax_Auto_PCB_Stencil.xltx
